/**
 * Assign Vehicle Ui Widget CSS
 */
.assignvehiclestogroup {
    padding: 20px;
    height: 458px;
}

.assignvehiclestogroup .state-view {
    padding-bottom: 10px;
}

.assignvehiclestogroup .state-item {
    background-image: url("/static/img/login/dot.png");
    background-repeat: no-repeat;
    color: #172834;
    font-weight: bold;
    height: 20px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
}

.assignvehiclestogroup .state-item.disabled {
    background-image: url("/static/img/login/dot-disabled.png");
    color: #8497A4;
}

.assignvehiclestogroup .state-item-index {
    color: #FFFFFF;
    padding-right: 8px;
}

.assignvehiclestogroup .assignment-control.disabled {
    display: none;
}

.assignvehiclestogroup .list-cnt {
    padding-right: 20px;
    width: 220px;
    _width: 240px;
}

.assignvehiclestogroup .list {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #C4D4ED;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}


.assignvehiclestogroup .search-item-groups {
    padding-bottom: 17px;
}

.assignvehiclestogroup  .search-item-groups .search-item-input-groups {
    width: 216px;
    height: 18px;
    border: 1px solid #FFFFFF;
    color: #011A5D;
    font-size: 0.9em;
    background-color: #B7CBDC;
    padding-left: 2px;
    padding-top: 3px;
}

.assignvehiclestogroup .search-autocomplete-groups {
    position: absolute;
    margin-top: 4px;
    width: 215px;
    font-size: 1em;
}

.assignvehiclestogroup .list-cnt .search-item-assignvehiclestogroup{
	padding-bottom: 17px;
}

.assignvehiclestogroup .list-cnt .search-item-assignvehiclestogroup .search-item-input-assignvehiclestogroup {
    width: 216px;
    height: 18px;
    border: 1px solid #FFFFFF;
    color: #011A5D;
    font-size: 0.9em;
    background-color: #B7CBDC;
    padding-left: 2px;
    padding-top: 3px;
}

.assignvehiclestogroup .list-cnt .search-autocomplete-assignvehiclestogroup {
    position: absolute;
    margin-top: 4px;
    width: 215px;
    font-size: 1em;
}

.assignvehiclestogroup .list-cnt .search-item-vacantvehiclestogroup{
	padding-bottom: 17px;
}

.assignvehiclestogroup .list-cnt .search-item-vacantvehiclestogroup .search-item-input-vacantvehiclestogroup {
    width: 216px;
    height: 18px;
    border: 1px solid #FFFFFF;
    color: #011A5D;
    font-size: 0.9em;
    background-color: #B7CBDC;
    padding-left: 2px;
    padding-top: 3px;
}

.assignvehiclestogroup .list-cnt .search-autocomplete-vacantvehiclestogroup {
    position: absolute;
    margin-top: 4px;
    width: 215px;
    font-size: 1em;
}

.assignvehiclestogroup .state-view {
    padding-bottom: 10px;
}

.assignvehiclestogroup .sel-hd, .assignvehiclestogroup .frm-hd {
    color: #172834;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top:20px;
}

.assignvehiclestogroup .group-sel-disp {
    padding-left: 20px;
}

.assignvehiclestogroup .group-sel {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #C4D4ED;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}

.assignvehiclestogroup .group-sel .group-sel-item {
    display: block;
    width: 180px;
    color: #011A5D;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    min-height: 20px;
	*height:auto !important;
	*height:25px;
}

.assignvehiclestogroup .group-sel .group-sel-item:hover {
    background-color: #ECF4FA;
    font-weight: bold;
}

.assignvehiclestogroup .group-sel .group-sel-item.disabled {
    display:none;
}

.assignvehiclestogroup .group-sel .user-sel-item.selected {
    background-color: #ECF4FA;
}

.assignvehiclestogroup .vehicle-sel-disp {
    padding-left: 20px;
}

.assignvehiclestogroup .vehicle-sel {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #C4D4ED;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}

.assignvehiclestogroup .vehicle-sel .vehicle-sel-item {
    display: block;
    width: 180px;
    color: #011A5D;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    min-height: 20px;
	*height:auto !important;
	*height:25px;
}

.assignvehiclestogroup .vehicle-sel .vehicle-sel-item:hover {
    background-color: #ECF4FA;
    font-weight: bold;
}

.assignvehiclestogroup .vehicle-sel .vehicle-sel-item.selected {
    background-color: #ECF4FA;
}

.assignvehiclestogroup .list .list-item {
    display: block;
    width: 180px;
    color: #011A5D;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    min-height: 20px;
    *height:auto !important;
    *height:25px;
}

.assignvehiclestogroup .list .list-item:hover {
    background-color: #ECF4FA;
    font-weight: bold;
}

.assignvehiclestogroup .list .list-item.selected, .assignvehiclestogroup .list .list-item.selected.moved {
    background-color: #ECF4FA;
}

.assignvehiclestogroup .list .list-item.moved {
    background-color: #FFECFA;
}

.assignvehiclestogroup .list .list-item.disabled {
    display:none;
}

.assignvehiclestogroup .list-cnt .list-title {
    color: #172834;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top:20px;
}

.assignvehiclestogroup .ft {
    padding-top: 20px;
}

.assignvehiclestogroup .ft .buttons.remove-button {
    padding-left: 379px;
    _padding-left: 375px;
}

.assignvehiclestogroup .ft .buttons.add-button {
    padding-left: 21px;
}

.assignvehiclestogroup .ft .buttons.save-button {
    padding-left: 57px;
}

.assignvehiclestogroup .ft .buttons .rem-text {
    background-image: url("/static/img/icons/action-icons.png");
    background-repeat: no-repeat;
    background-position: 100% -400px;
    padding-right: 21px;
}

.assignvehiclestogroup .ft .buttons .add-text {
    background-image: url("/static/img/icons/action-icons.png");
    background-repeat: no-repeat;
    background-position: 0% -462px;
    padding-left: 21px;
}
