/*All the Vehicle Health continer settings are inherited from default*/
.health-widget
{
	width:317px;
}
.vehiclehealth {
    width: 317px;
    height: 261px;
}

.vehiclehealth .vehiclehealth-container {
    width: 317px;
    height: 261px;
  /***  background-image: url("/static/img/backgrounds/dashboard-sd-vh-bg.jpg");*/
      background-image: linear-gradient(to bottom, #f2f2f2 0%, #f7f7f7 100%);
    background-repeat: repeat-x;
}

.vehiclehealth .vehiclehealth-container .hd {
    padding-left: 10px;
    padding-top: 14px;
    padding-right: 10px;
}

/*Style obtained thorough macro substitution in the .ftm file*/
.vehiclehealth .vehiclehealth-container .hd .rounded-rect .nested {
    padding: 7px 2px 2px 2px;
    height: 23px;
    background-color: #8ABCDE;
    border-color: #8ABCDE;
}

.vehiclehealth .vehiclehealth-container .hd .rounded-rect .nested .label {
    padding-left: 10px;
    padding-top: 4px;
    width: 294px;
    height: 23px;
}

.vehiclehealth .vehiclehealth-container .hd .rounded-rect .nested .label .text {
    background-image: url("/static/img/icons/widget-header-icons.png");
    background-position: 1px -376px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.vehiclehealth .vehiclehealth-container .hd .rounded-rect .cap {
    background-color: #8ABCDE;
    border-color: #8ABCDE;
}

.vehiclehealth .vehiclehealth-container .bd {
    padding-left: 10px;
}

.vehiclehealth .vehiclehealth-container .bd .list-header {
    padding-left: 23px;
}

.vehiclehealth .vehiclehealth-container .bd .list-header-text {
    font: 12px Tahoma, Verdana;
    padding-top: 12px;
    width: 104px;
    vertical-align:bottom;
}

.vehiclehealth .vehiclehealth-container .bd .list .list-element {
    width: 298px;
}

.vehiclehealth .vehiclehealth-container .bd .list .list-element .lightdiv {
    background-color: #F7F7F7;
    height: 33px;
}

.vehiclehealth .vehiclehealth-container .bd .list .list-element .darkdiv {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #FCFCFC;
    background-color: #ECEFF1;
    height: 26px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FCFCFC;
}

.vehiclehealth .vehiclehealth-container .bd .list .list-element .button {
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 12px;
}

.vehiclehealth .vehiclehealth-container .bd .list .list-element .button .image {
    background-image: url("/static/img/vehiclehealth/allhealthicons.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 7px;
    width: 7px;
}

.vehiclehealth .vehiclehealth-container .bd .signal {
    padding-left: 48px;
    vertical-align: middle;
}



.vehiclehealth .vehiclehealth-container .bd .list-header .signal {
    padding-top: 10px;
    padding-left: 53px;
    vertical-align: middle;
}

.vehiclehealth .vehiclehealth-container .bd .icons {
	display: -moz-inline-stack;
    vertical-align: middle;
    background-image: url("/static/img/vehiclehealth/allhealthicons.png");
    height: 21px;
    width: 25px;
    background-repeat: no-repeat;
    
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gsm-icon-level-0 {
    background-position: 0px -50px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gsm-icon-level-1 {
    background-position: 0px -100px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gsm-icon-level-2 {
    background-position: 0px -150px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gsm-icon-level-3 {
    background-position: 0px -200px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gsm-icon-level-4 {
    background-position: 0px -250px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gps-icon-level-0 {
    background-position: -50px -50px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gps-icon-level-1 {
    background-position: -50px -100px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gps-icon-level-2 {
    background-position: -50px -150px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gps-icon-level-3 {
    background-position: -50px -200px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.gps-icon-level-4 {
    background-position: -50px -250px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.battery-icon-level-0 {
    background-position: -100px -50px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.battery-icon-level-1 {
    background-position: -100px -100px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.battery-icon-level-2 {
    background-position: -100px -150px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.battery-icon-level-3 {
    background-position: -100px -200px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.battery-icon-level-4 {
    background-position: -100px -250px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.fuel-icon-level-0 {
    background-position: -150px -50px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.fuel-icon-level-1 {
    background-position: -150px -100px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.fuel-icon-level-2 {
    background-position: -150px -150px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.fuel-icon-level-3 {
    background-position: -150px -200px;
}

.vehiclehealth .vehiclehealth-container .bd .signal .icons.fuel-icon-level-4 {
    background-position: -150px -250px;
}

.vehiclehealth .vehiclehealth-container .bd .list .list-element .text {
    font: 12px Tahoma, Verdana;
    padding-top: 10px;
    padding-left: 0px;
    line-height: 12px;
    width: 108px;
}

.vehiclehealth .ft {
    margin-top: -6px;
    padding-left: 215px;
	width:102px;
}

.vehiclehealth .ft .rounded-rect .nested {
    padding: 7px 2px 2px 2px;
    font: 11px Verdana;
    height: 10px;
    background-color: #F7F7F7;
    border-color: #F7F7F7;
}

.vehiclehealth .ft .rounded-rect .nested .text {
    padding-left: 15px;
    color: black;
}

.vehiclehealth .ft .rounded-rect .nested .text a {
    color: black;
	background-image: url("/static/img/icons/arrows.png");
    background-position: 45px -162px;
    background-repeat: no-repeat;
	padding-right:30px;
}

.vehiclehealth .ft .rounded-rect .cap {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
}
