/**
 * SidePane List UI Widget CSS
 */
.sidepanelist {
    width: 255px;
    background-color: #E6EDF3;
    overflow: hidden;
    height: 100%;
}

.sidepanelist .sidepane-list {
    padding-left: 15px;
    padding-top: 25px;
}

.sidepanelist.inactive {
    display: none;
}

.sidepanelist .hd-list .hd-item {
    cursor: pointer;
    width: 30px;
}

.sidepanelist .hd-list .hd-item.select-group {
    width: auto;
}

.sidepanelist .title {
    color: #A81A23;
    font-size: 1.2em;
    font-weight: bold;
}

.sidepanelist .search-item {
    padding-bottom: 17px;
}

.sidepanelist .search-item .search-title {
    padding-bottom: 5px;
}

.sidepanelist .search-item .search-go-button {
    cursor: pointer;
    width: 32px;
    height: 19px;
    margin-top: 2px;
    margin-left: 184px;
    background-image: url("/static/img/buttons/search-go-button.png");
}

.sidepanelist .search-item .search-item-input {
    width: 175px;
    height: 18px;
    border: 1px solid #FFFFFF;
    color: #011A5D;
    font-size: 0.9em;
    background-color: #B7CBDC;
    padding-left: 2px;
    padding-top: 3px;
}

.sidepanelist .hd-list .list-pin {
    width: 27px;
    height: 24px;
    background-image: url("/static/img/icons/group-icons.png");
    background-repeat: no-repeat;
    background-position: -60px -26px;
}

.sidepanelist .hd-list .list-title {
    width: 181px;
}

.sidepanelist .hd-list .pins {
    padding-bottom: 10px;
}

.sidepanelist .pinning-disabled .hd-list .list-pin {
    background-position: -60px 0px;
}

.sidepanelist .hd-list .list-bullet {
    width: 26px;
    height: 24px;
    background-image: url("/static/img/icons/group-icons.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.sidepanelist .group-disabled .hd-list .list-bullet {
    background-position: -31px 0px;
    background-position: 0px -26px;
}

.sidepanelist .hd-list .list-grouping {
    width: 27px;
    height: 24px;
    background-image: url("/static/img/icons/group-icons.png");
    background-repeat: no-repeat;
    background-position: -31px -26px;
    margin-left: 2px;
}

.sidepanelist .group-disabled .hd-list .list-grouping {
    background-position: -31px 0px;
}

.sidepanelist .hd-list .item-group-select {
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: #B7CBDC;
    color: #234A68;
    width: 150px;
    padding-left: 2px;
    padding-top: 1px;
	*margin-top: 2px;
}

.sidepanelist .hd-list .groupings {
    padding-bottom: 20px;
}

.sidepanelist .sidepane-list.inactive .data-accordion {
    display: none;
}

.sidepanelist .list-container {
    position: relative;
    zoom: 1;
}

.sidepanelist .data-accordion {
    height: 319px;
    overflow-y: scroll;
}

.sidepanelist .data-accordion .data-accordion-container {
    width: 213px;
}

.sidepanelist .data-accordion .list-item-type.disabled {
    display: none;
}

.sidepanelist .data-accordion .group-item {
    background-image: url("/static/img/vehiclelist/group-bg.png");
    font-weight: bold;
    color: #FFFFFF;
    height: 22px;
    padding-top: 4px;
    padding-left: 7px;
}

.sidepanelist .group-disabled .data-accordion .group-item {
    display: none;
}

.sidepanelist .data-accordion .group-item .group-name {
    width: 183px;
}

.sidepanelist .data-accordion .group-item .group-openclose {
    width: 13px;
    height: 14px;
    background-image: url("/static/img/vehiclelist/group-openclose.png");
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: -13px 0px;
    margin-top: 2px;
}

.sidepanelist .data-accordion .group-item.closed .group-openclose {
    background-position: 0px 0px;
}

.sidepanelist .data-accordion .item.closed {
    display: none;
}

.sidepanelist .group-disabled .data-accordion .item.closed {
    display: block;
}

.sidepanelist .hd-list .select-group {
    margin-left: 4px;
}

.sidepanelist .group-disabled .hd-list .select-group {
    display: none;
}

.sidepanelist .data-accordion .item .pin {
    padding-right: 4px;
    width: 17px;
    height: 21px;
    cursor: pointer;
    font-weight: normal;
    background-image: url("/static/img/icons/pin-icons.png");
    background-repeat: no-repeat;
    background-position: -22px 0px;
    margin-left: 5px;
}

.sidepanelist .data-accordion .item.pin-enabled .pin {
    background-position: 0px 0px;
}

.sidepanelist .data-accordion .item-header {
    height: 19px;
    font-size: 1em;
    font-weight: normal;
    border-top: 2px solid #CEDBE6;
    padding-left: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    color: #000000;
}

.sidepanelist .data-accordion .item.selected .item-header {
    border-bottom: 0px solid;
    background-color: #5299DB;
}

.sidepanelist .data-accordion .item-status {
    background-image: url("/static/img/icons/vehicle-status1.png");
    background-repeat: no-repeat;
    background-position: 128px 2px;
    height: 19px;
    width: 17px;
}

.sidepanelist .data-accordion .item-name {
    color: #000000;
    width: 146px;
}

.sidepanelist .data-accordion .data-accordion-container .item .bd .fixed {
    padding: 0px 5px 5px 5px;
}

.sidepanelist .data-accordion .item.selected .item-name {
    font-weight: bold;
}

.sidepanelist .data-accordion .item-status.stopped {
    background-position: 128px 5px;
}

.sidepanelist .data-accordion .item-status.online {
    background-position: 128px -17px;
}

.sidepanelist .data-accordion .item-status.idle {
    background-position: 128px -42px;
}

.sidepanelist .data-accordion .item-status.offline {
    background-position: 128px -67px;
}

.sidepanelist .data-accordion .item-status.assigned {
    background-position: 128px -20px;
}

.sidepanelist .data-accordion .item-status.vacant {
    background-position: 128px -45px;
}

.sidepanelist .data-accordion .openclose {
    background-image: url("/static/img/icons/accordion-updown-icons.png");
    background-repeat: no-repeat;
    background-position: 2px 2px;
    height: 19px;
    width: 15px;
    margin-left: 8px;
    height: 19px;
}

.sidepanelist .data-accordion .selected .openclose {
    background-position: 2px -23px;
}

.sidepanelist .data-accordion .item .bd {
    zoom: 1;
}

.sidepanelist .data-accordion .item.selected .bd {
    line-height: normal;
    background-image: url("/static/img/vehiclelist/vehicle-selected-gradient.png");
    background-repeat: repeat-x;
}

.sidepanelist .data-accordion .item .item-details {
    font-size: 0.9em;
}

.sidepanelist .search-autocomplete {
    position: absolute;
    margin-top: 26px;
    width: 171px;
}
