/**
 * Stylesheet for the Popup Utility Widget
 */

.popup .yui-panel-container {
    border: 7px solid #8ABCDE;
    background-color: #F7F7F7;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
}

.popup .popup-markup {
    overflow: hidden;
}

.popup .yui-panel-container .yui-panel .hd {
    padding-top: 5px;
    padding-bottom: 5px;
}

.popup .yui-panel-container .yui-panel .hd .rounded-rect .nested {
    padding: 7px 2px 2px 2px;
    background-color: #BF212C;
    border-color: #BF212C;
}

.popup .yui-panel-container .yui-panel .hd .rounded-rect .nested .label .close-button-cell {
    vertical-align: text-top;
    width: 17px;
}

.popup .yui-panel-container .yui-panel .hd .rounded-rect .nested .label .text {
    color: white;
    font-size: medium;
    text-align: center;
}

.popup .yui-panel-container .yui-panel .hd .rounded-rect .cap {
    background-color: #BF212C;
    border-color: #BF212C;
}

.popup .yui-panel-container .yui-panel .hd .rounded-rect .nested .label .close-button-cell .close {
    width: 21px;
    height: 17px;
    background-image: url(/static/img/icons/action-icons.png);
    background-repeat: no-repeat;
    display: block;
    background-color: #BF212C;
    background-position: 0 -118px;
}