/**
 * SpeedGraph Report CSS
 */
.speedgraphreport {
    background-color: #FFFFFF;
    height: 500px;
}

.speedgraphreport .rpt-hd {
    padding: 15px;
}

.speedgraphreport .rpt-hd .rounded-rect .cap {
    background-color: #BBDDF2;
    border-color: #BBDDF2;
}

.speedgraphreport .rpt-hd .title {
    color: #FFFFFF;
    font-size: 1.4em;
}

.speedgraphreport .rpt-hd .nested {
    padding: 10px;
    background-color: #BBDDF2;
    border-color: #BBDDF2;
}

.speedgraphreport .rpt-hd .print-preview {
    background-image: url(/static/img/icons/widget-header-icons.png);
    float: right;
    background-position: 0 -481px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: normal;
    height: 16px;
    margin-top: -25px;
    margin-left: 30px;
    padding-left: 23px;
    text-decoration: underline;
    width: 100px;
}

.speedgraphreport .rpt-bd .speedgraph {
    padding-left: 50px;
}

.speedgraphreport .rpt-bd .speedgraph .graph-content {
    width: 800px; 
    height: 400px;
}

.speedgraphreport .rpt-ft {
    background-color: #E6EDF3;
    margin: 10px;
}

.speedgraphreport .rpt-ft .graph-key .keys {
    padding-bottom: 12px;
    padding-left: 30px;
    padding-top: 7px;
}

.speedgraphreport .rpt-ft .graph-key .keys div {
    background-image: url(@STATIC_DIR@/img/reports/graph-keys.png);
    background-repeat: no-repeat;
    padding-left: 15px;
}

.speedgraphreport .rpt-ft .graph-key .keys .speed-violated {
    background-position: 0px -0px;
}

.speedgraphreport .rpt-ft .graph-key .keys .speed-limit {
    background-position: 0px -17px;
}

.speedgraphreport .rpt-ft .refresh {
    margin-top: -30px;
    margin-right: 30px;
    float: right;
}

.speedgraphreport .rpt-ft .refresh .refreshtxt {
    background-image: url(@STATIC_DIR@/img/icons/action-icons.png);
    background-position: 100% -145px;
    background-repeat: no-repeat;
    padding-right: 23px;
}

.speedgraphreport .print-section {
    display: none;
}

.print.popup .speedgraphreport .rpt-ft .refresh {
    display: none;
}

.print.popup .speedgraphreport .rpt-hd .print-preview {
    display: none;
}

.speedgraphreport.widget .widget.simpledialog {
    position: absolute;
    top: 190px;
    left: 440px;
    z-index: 1500;
    width: 300px;
}

.speedgraphreport .simpledialog {
    height: 130px;
}

.speedgraphreport .simpledialog.disabled {
    display: none;
}

.speedgraphreport .simpledialog .icon {
    background-image: url(@STATIC_DIR@/img/icons/widget-header-icons.png);
    background-position: 8px -575px;
    background-repeat: no-repeat;
    height: 30px;
    width: 44px;
}

.speedgraphreport .simpledialog .text {
    width: 246px
}

.speedgraphreport .simpledialog .buttons {
    font-size: 0.8em;
    padding-left: 116px;
    padding-top: 15px;
}
