/**
 * LiveTrack UI Widget CSS
 */
.livetrack.widget .fleetmap .marker-info-window .bd .yui-content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9em;
    color: #FFFFFF;
    font-weight: bold;
    height: auto;
    width: auto;
}

.livetrack.widget .fleetmap .marker-info-window .bd .info-table {
    width: 100%;
    height: 100%;
}

.livetrack.widget .fleetmap .marker-info-window .bd .info-table .info-tbl-row.even {
    background-color: #485763;
}

.livetrack.widget .fleetmap .marker-info-window .bd .info-table .info-tbl-col {
    vertical-align: middle;
    padding-left: 10px;
    height: 14px;
}
.livetrack.widget .fleetmap .marker-info-window.disabled{
  display:none;
}