/**
 * VehicleList Widget CSS
 */
.vehiclelist {
    width: 200px;
}

.vehiclelist .hd-list .hd-item {
    cursor: pointer;
    width: 30px;
}

.vehiclelist .vehicle-accordion .list-item-type.disabled {
    display: none;
}

.vehiclelist .vehicle-accordion .group-item {
    font-size: 1.5em;
}

.vehiclelist .group-disabled .vehicle-accordion .group-item {
    display: none;
}

.vehiclelist .group-disabled .hd-list .select-group {
    display: none;
}

.vehiclelist .vehicle-accordion .vehicle-item .pin {
    padding-right: 4px;
    cursor: pointer;
    font-weight: normal;
}

.vehiclelist .vehicle-accordion .vehicle-item.pin-enabled .pin {
    font-weight: bold;
}

.vehiclelist .search-autocomplete {
    position: absolute;
    margin-top: 25px;
    width: 200px;
}