.fuelcalibrationmanager .ft .refresh {
    margin-right: 300px;
    float: right;
}

.fuelcalibrationmanager .ft .refresh .refreshtxt {
    background-image: url(@STATIC_DIR@/img/icons/action-icons.png);
    background-position: 100% -1734px;
    background-repeat: no-repeat;
    padding-right: 23px;
}