/**
 * Add Vehicle UI Widget CSS
 */
.vehiclehistorymanager {
	padding: 20px;
	background-color: #B3D4FF
}

.vehiclehistorymanager .note {
	height: 30px;
	border: 1px solid #95D0E9;
	color: #5A6065;
	margin-top: 3px;
	line-height: 28px;
	padding-left: 10px;
	background-color: #FFFFFF;
}

.vehiclehistorymanager .state-item {
	background-image: url("/static/img/login/dot.png");
	background-repeat: no-repeat;
	color: #172834;
	font-weight: bold;
	height: 20px;
	padding-left: 8px;
	padding-right: 4px;
	padding-top: 4px;
}

.vehiclehistorymanager .state-item.disabled {
	background-image: url("/static/img/login/dot-disabled.png");
	color: #8497A4;
}

.vehiclehistorymanager .state-item-index {
	color: #FFFFFF;
	padding-right: 8px;
}

.vehiclehistorymanager .search-item {
	padding-bottom: 17px;
}

.vehiclehistorymanager .search-item .search-title {
	padding-bottom: 5px;
}

.vehiclehistorymanager .search-item .search-go-button {
	cursor: pointer;
	width: 32px;
	height: 19px;
	margin-top: 2px;
	margin-left: 184px;
	background-image: url("/static/img/buttons/search-go-button.png");
}

.vehiclehistorymanager .search-item .search-item-input {
	width: 175px;
	height: 18px;
	border: 1px solid #FFFFFF;
	color: #011A5D;
	font-size: 0.9em;
	background-color: #B7CBDC;
	padding-left: 2px;
	padding-top: 3px;
}

.vehiclehistorymanager .search-autocomplete {
	position: absolute;
	margin-top: 26px;
	width: 172px;
	font-size: 1em;
}

.vehiclehistorymanager .note .title {
	color: #BB0813;
	font-weight: bold;
}

.vehiclehistorymanager .disabled {
	display: none;
}

.vehiclehistorymanager .note.mesg {
	background-color: #BFF19A;
	border: 1px solid #FFFFFF;
}

.vehiclehistorymanager .frm-edit-bd {
	padding-top: 25px;
}

.vehiclehistorymanager .frm-edit-bd .frm-lbl {
	width: 120px;
	font-weight: bold;
	line-height: 21px;
}

.vehiclehistorymanager .frm-edit-bd .input-element {
	width: 240px;
	height: 19px;
}

.vehiclehistorymanager .frm-edit-bd .input-element.txt {
	padding-top: 2px;
}

.vehiclehistorymanager .frm-edit-bd .input-element.list {
	padding-top: 2px;
	height: 26px;
	color: #39444C;
}

.vehiclehistorymanager .frm-edit-bd .frm-inp {
	padding-right: 5px;
}

.vehiclehistorymanager .frm-edit-bd .frm-imp {
	color: #39444C;
	font-size: 0.9em;
	line-height: 21px;
}

.vehiclehistorymanager .frm-edit-bd .frm-item-cnt {
	padding-bottom: 10px;
}

.vehiclehistorymanager .buttons {
	padding-left: 160px;
}

.vehiclehistorymanager .state-view {
	padding-bottom: 10px;
}

.vehiclehistorymanager .sel-hd,.vehiclehistorymanager .frm-hd {
	color: #172834;
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 5px;
}

.vehiclehistorymanager .veh-sel-disp {
	padding-left: 20px;
}

.vehiclehistorymanager .veh-sel {
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 2px solid #C4D4ED;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 2px;
}

.vehiclehistorymanager .veh-sel .veh-sel-item {
	display: block;
	width: 180px;
	color: #011A5D;
	line-height: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
	cursor: pointer;
	min-height: 20px; *
	height: auto !important; *
	height: 25px;
}

.vehiclehistorymanager .veh-sel .veh-sel-item:hover {
	background-color: #ECF4FA;
	font-weight: bold;
}

.vehiclehistorymanager .veh-sel .veh-sel-item.selected {
	background-color: #ECF4FA;
}

.vehiclehistorymanager .veh-sel .veh-sel-item.disabled {
	display: none;
}

.vehiclehistorymanager .buttons.save-button {
	padding-left: 120px;
}

.vehiclehistorymanager .buttons.cancel-button {
	padding-left: 30px;
}

.vehiclehistorymanager .edit-vehicle-empty-popup {
	display: block;
}

.vehiclehistorymanager .edit-vehicle-displayname-popup {
	display: block;
}

.vehiclehistorymanager .edit-vehicle-model-popup {
	display: block;
}

.vehiclehistorymanager .edit-vehicle-make-popup {
	display: block;
}

.vehiclehistorymanager .edit-vehicle-year-popup {
	display: block;
}

.vehiclehistorymanager .edit-vehicle-empty-popup.disabled {
	display: none;
}

.vehiclehistorymanager .edit-vehicle-displayname-popup.disabled {
	display: none;
}

.vehiclehistorymanager .edit-vehicle-model-popup.disabled {
	display: none;
}

.vehiclehistorymanager .edit-vehicle-make-popup.disabled {
	display: none;
}

.vehiclehistorymanager .edit-vehicle-year-popup.disabled {
	display: none;
}