
/*
 *  System-Settings widget
 */
.systemsettings .settings-container {
    background-color: #FFFFFF;
    height: 120px;
    margin: 30px 20px 0px 20px;
}

.systemsettings .settings-container .hd {
    padding: 10px;
}

.systemsettings .settings-container .hd .rounded-rect .nested {
    padding: 9px 7px 7px 20px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #BBDDF2;
    border-color: #BBDDF2;
    color: #FFFFFF;
    height: 20px;
    _height: 36px;
}

.systemsettings .settings-container .hd .rounded-rect .cap, .report .ft .rounded-rect .cap {
    background-color: #BBDDF2;
    border-color: #BBDDF2;
}

.systemsettings .settings-container .bd .settings-form {
    padding: 7px 25px;
}

.systemsettings .settings-container .bd .settings-form .settings-form-item {
    padding: 0px 10px 0px 10px;
    color: #205984;
    font-weight: bold;
}
