/**
 * Trip Settings Toolbar UI Widget CSS
 */
.geofencingtoolbar .geofencing-bar-container {
    height: 32px;
    _height: 38px;
    width: 100%;
  /*  background-image: url("/static/img/toolbar/toolbar-bg.jpg"); */
	background-image: linear-gradient(to bottom, #a81b24 0%, #81141a 100%);
    background-repeat: repeat-x;
    color: #FFFFFF;
    padding-top: 3px;
	padding-left: 4px;
    padding-bottom: 3px;
    text-align: left;
}

.geofencingtoolbar .geofencing-bar-container .link{
	padding-top: 4px;
    padding-left:570px;
    line-height: 25px;
    text-decoration: underline;
}

.geofencingtoolbar .geofencing-bar-container .link .colors{
    color: #FFFFFF;
}

.geofencingtoolbar .geofencing-bar-container .title-button {
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 10px;
    line-height: 25px;
}