/**
 * SpeedGraph Report CSS
 */
.graphreport {
    background-color: #FFFFFF;
    height: 490px;
}

.graphreport .hd {
    padding: 15px;
}

.graphreport .hd .rounded-rect .cap {
    background-color: #BBDDF2;
    border-color: #BBDDF2;
}

.graphreport .hd .title {
    color: #1C5E90;
    font-size: 1.4em;
}

.graphreport .hd .nested {
    padding: 10px;
    background-color: #BBDDF2;
    border-color: #BBDDF2;
}

.graphreport .hd .print-preview {
    background-image: url(/static/img/icons/widget-header-icons.png);
    float: right;
    background-position: 0 -481px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: normal;
    height: 16px;
    margin-top: -25px;
    margin-left: 30px;
    padding-left: 23px;
    text-decoration: underline;
    width: 100px;
}

.graphreport .bd {
    padding-left: 50px;
}

.graphreport .bd .report-graph .graph-content {
    width: 800px; 
    height: 400px;
}

.graphreport .ft {
    background-color: #E6EDF3;
   
    height: 29px;
}

.graphreport .ft .graph-key .keys {
    padding-bottom: 12px;
    padding-left: 30px;
    padding-top: 7px;
}

.graphreport .ft .graph-key .keys div {
    background-image: url(/static/img/reports/graph-keys.png);
    background-repeat: no-repeat;
    padding-left: 15px;
}

.graphreport .ft .graph-key .keys .speed-violated {
    background-position: 0px -0px;
}

.graphreport .ft .graph-key .keys .speed-limit {
    background-position: 0px -17px;
}

.graphreport .ft .refresh {
    margin-right: 30px;
    float: right;
}

.graphreport .ft .refresh .refreshtxt {
    background-image: url(/static/img/icons/action-icons.png);
    background-position: 100% -145px;
    background-repeat: no-repeat;
    padding-right: 23px;
}

.graphreport .print-section {
    display: none;
}

.print.popup .graphreport .ft .refresh {
    display: none;
}

.print.popup .graphreport .hd .print-preview {
    display: none;
}
