/**
 * SearchToolBar Widget CSS
 */
.searchtoolbar .search-bar-container {
    height: 32px;
    _height: 38px;
 /*  background-image: url("/static/img/toolbar/toolbar-bg.jpg"); */
	background-image: linear-gradient(to bottom, #a81b24 0%, #81141a 100%);
    background-repeat: repeat-x;
    color: #FFFFFF;   
    padding-top: 6px;
}

.searchtoolbar .search-bar-container .float-right {
    float: right;
    padding-right: 75px;
}

.list-minimized .searchtoolbar .search-bar-container .float-right {
    float: right;
}

.searchtoolbar .search-bar-container .float-right .title-button {
    padding-top: 5px;
    padding-right: 10px;
    font-weight: bold;
}

.searchtoolbar .search-bar-container .search-button-cnt {
    margin-left: 7px;
    margin-top: -3px;
}

.searchtoolbar .search-bar-container .assign-button-cnt {
    margin-left: 4px;
    margin-top: 3px;
}

.searchtoolbar .search-box {
    width: 190px;
    margin-left: 1px;
}

.searchtoolbar .search-input {
    border: 1px none;
    background-color: #700e14;
    padding: 5px;
    color: #f4f4f4;
    width: 181px;
}

.searchtoolbar .search-autocomplete {
    position: absolute;
    width: 186px;
    color: black;
    margin-top: 8px;
    margin-left: 88px;
}
