/**
 * Simple Dialog UI Widget CSS
 */
.simpledialog {
    width: 344px;
    height: 154px;
}

.simpledialog .tc, .simpledialog .center, .simpledialog .bc {
    width: 100%;
    background-color: #FFFFFF;
}

.simpledialog .tc, .simpledialog .bc {
    height: 6px;
}

.simpledialog .brdr {
    width: 100%;
    background-image: url('@STATIC_DIR@/img/dialog/popup-borders.png');
    background-repeat: no-repeat;
}

.simpledialog .tl {
    padding-left: 8px;
    background-position: 0px 0px;
}

.simpledialog .tr {
    padding-right: 8px;
    background-position: 100% -8px;
}

.simpledialog .tc {
    border-top: 2px solid #C6D6E0;
}

.simpledialog .bl {
    padding-left: 8px;
    background-position: 0px -24px;
}

.simpledialog .br {
    padding-right: 8px;
    background-position: 100% -16px;
}

.simpledialog .bc {
    border-bottom: 2px solid #C6D6E0;
}

.simpledialog .center {
    height: 100%;
    border-left: 2px solid #C6D6E0;
    border-right: 2px solid #C6D6E0;
    padding-left: 6px;
    padding-right: 6px;
}

.simpledialog .hd {
    font-size: 1.5em;
    color: #1D5A88;
    border-bottom: 2px solid #C6D6E0;
    padding: 5px;
}

.simpledialog .bd {
    font-size: 1.2em;
    color: #000000;
    padding: 5px;
}
