/**
 * Stylesheet fot Add Links Widget
 */
.addlinks .addlinks-container {
    background-color: #F4F4F4;
    color: #1F5A85;
    font-size: 0.9em;
}

.addlinks .addlinks-container .links-select-box {
    width: 99%;
    background-color: #FFFFFF;
}

.addlinks .addlinks-container .content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.addlinks .addlinks-container .content .message {
    padding-bottom: 5px;
}

.addlinks .addlinks-container .dialog-buttons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.addlinks .addlinks-container .dialog-buttons .buttons {
    padding-right: 5px;
}
