/**
 * Stylesheet for the Dialog Popup Uitlity Widget
 */
.mobile-vehicle-popup .content {
    height: 55%;
}

.mobile-vehicle-popup .dialog-form {
    height: 100%;
}

.mobile-vehicle-popup .dialog-buttons {
    text-align: center;
    width: 99%;
}

.mobile-vehicle-popup .dialog-buttons .buttons .fleet-buttons.yes-button.button-blue a .ct {
    width: 50px;
}

.mobile-vehicle-popup.dialog-buttons .buttons .fleet-buttons.no-button.button-blue a .ct {
    width: 49px;
}


/**
 * Assign Vehicle Ui Widget CSS
 */
.mobile-vehicle-popup {
    padding: 20px;
    height: 458px;
}

.mobile-vehicle-popup .state-view {
    padding-bottom: 10px;
}

.mobile-vehicle-popup .state-item {
    background-image: url("/static/img/login/dot.png");
    background-repeat: no-repeat;
    color: #172834;
    font-weight: bold;
    height: 20px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
}

.mobile-vehicle-popup .state-item.disabled {
    background-image: url("/static/img/login/dot-disabled.png");
    color: #8497A4;
}

.mobile-vehicle-popup .state-item-index {
    color: #FFFFFF;
    padding-right: 8px;
}

.mobile-vehicle-popup .assignment-control.disabled {
    display: none;
}

.mobile-vehicle-popup .list-cnt {
    padding-right: 20px;
    width: 220px;
    _width: 240px;
}

.mobile-vehicle-popup .list {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #C4D4ED;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mobile-vehicle-popup .state-view {
    padding-bottom: 10px;
}

.mobile-vehicle-popup .sel-hd, .mobile-vehicle-popup .frm-hd {
    color: #172834;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 5px;
}

.mobile-vehicle-popup .user-sel-disp {
    padding-left: 20px;
}

.mobile-vehicle-popup .user-sel {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #C4D4ED;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mobile-vehicle-popup .user-sel .user-sel-item {
    display: block;
    width: 180px;
    color: #011A5D;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    min-height: 20px;
	*height:auto !important;
	*height:25px;
}

.mobile-vehicle-popup .user-sel .user-sel-item:hover {
    background-color: #ECF4FA;
    font-weight: bold;
}

.mobile-vehicle-popup .user-sel .user-sel-item.selected {
    background-color: #ECF4FA;
}

.mobile-vehicle-popup .vehicle-sel-disp {
    padding-left: 20px;
}

.mobile-vehicle-popup .vehicle-sel {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #C4D4ED;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mobile-vehicle-popup .vehicle-sel .vehicle-sel-item {
    display: block;
    width: 180px;
    color: #011A5D;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    min-height: 20px;
	*height:auto !important;
	*height:25px;
}

.mobile-vehicle-popup .vehicle-sel .vehicle-sel-item:hover {
    background-color: #ECF4FA;
    font-weight: bold;
}

.mobile-vehicle-popup .vehicle-sel .vehicle-sel-item.selected {
    background-color: #ECF4FA;
}

.mobile-vehicle-popup .list .list-item {
    display: block;
    width: 180px;
    color: #011A5D;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    min-height: 20px;
    *height:auto !important;
    *height:25px;
}

.mobile-vehicle-popup .list .list-item:hover {
    background-color: #ECF4FA;
    font-weight: bold;
}

.mobile-vehicle-popup .list .list-item.selected, .mobile-vehicle-popup .list .list-item.selected.moved {
    background-color: #ECF4FA;
}

.mobile-vehicle-popup .list .list-item.moved {
    background-color: #FFECFA;
}

.mobile-vehicle-popup .list-cnt .list-title {
    color: #172834;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
}

.mobile-vehicle-popup .ft {
    padding-top: 20px;
}

.mobile-vehicle-popup .ft .buttons.remove-button {
    padding-left: 379px;
    _padding-left: 375px;
}

.mobile-vehicle-popup .ft .buttons.add-button {
    padding-left: 21px;
}

.mobile-vehicle-popup .ft .buttons.save-button {
    padding-left: 57px;
}

.mobile-vehicle-popup .ft .buttons .rem-text {
    background-image: url("/static/img/icons/action-icons.png");
    background-repeat: no-repeat;
    background-position: 100% -400px;
    padding-right: 21px;
}

.mobile-vehicle-popup .ft .buttons .add-text {
    background-image: url("/static/img/icons/action-icons.png");
    background-repeat: no-repeat;
    background-position: 0% -462px;
    padding-left: 21px;
}


