#DOJO Src
#dojo.src.dir=@DOJO_SRC_DIR@
#dojo.version=@DOJO_VERSION@

#lib.dir=@TRACKUT_LIB_FOLDER@

#Search webapp Directory
publish.dir=@WEBAPP_DIR@
publish.static.dir=@WEBAPP_STATIC_DIR@
tomcat.dir=@TOMCAT_DIR@

#Merging enable/disable
static.merge=@STATIC_MERGE@

#Compress enable/disable
compress.enabled=@COMPRESS_ENABLED@
static.compress=@STATIC_COMPRESS@

#Path of Timeline project
#trackut.dir=@TRACKUT_DIR@

#SubDomains for static contents
#host.context=@HOST_CONTEXT@
#subdomain.count=@SUBDOMAIN_COUNT@
#server=@SERVER@
