/**
 * Dashboard Vehicle Status CSS
 */
.dashboardvehiclestatus {
    width: 214px;
    height: 177px;
}

.dashboardvehiclestatus .vehiclestatus-container {
    padding: 10px 10px 10px 10px;
    width: 194px;
    height: 157px;
}

.dashboardvehiclestatus .vehiclestatus-container .hd {
    padding: 0px 3px;
}

.dashboardvehiclestatus .vehiclestatus-container .hd .widget-header-label {
    padding-left: 25px;
    width: 188px;
    height: 20px;
    background-image: url("@STATIC_DIR@/img/icons/widget-header-icons.png");
    background-position: 1px -56px;
    background-repeat: no-repeat;
    width: 188px;
    _width: 182px;
}

.dashboardvehiclestatus .vehiclestatus-container .rounded-rect .nested {
    padding: 7px 2px 2px 2px;
    font-weight: bold;
    font-size: 1.2em;
    height: 23px;
    background-color: #55A818;
    border-color: #55A818;
}

.dashboardvehiclestatus .vehiclestatus-container .rounded-rect .cap {
    background-color: #55A818;
    border-color: #55A818;
}

.dashboardvehiclestatus .vehiclestatus-container .bd {
    padding: 12px 3px 10px;
}

.dashboardvehiclestatus .vehiclestatus-container .bd .vehicles-data {
    padding: 4px 0px 4px 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E3E3E3;
}

.dashboardvehiclestatus .vehiclestatus-container .bd .vehicles-data .vehicle-icon {
    width: 18px;
    height: 18px;
    background-image: url("@STATIC_DIR@/img/icons/vehicle-status1.png");
    background-repeat: no-repeat;
    margin-left: 17px;
}

.dashboardvehiclestatus .vehiclestatus-container .bd .vehicles-data .vehicle-icon.stopped-icon {
    background-position: 0px 5px;
}

.dashboardvehiclestatus .vehiclestatus-container .bd .vehicles-data .vehicle-icon.idle-icon {
    background-position: 0px -42px;
}

.dashboardvehiclestatus .vehiclestatus-container .bd .vehicles-data .vehicle-icon.online-icon {
    background-position: 0px -17px;
}

.dashboardvehiclestatus .vehiclestatus-container .bd .vehicles-data .vehicle-icon.offline-icon {
    background-position: 0px -67px;
}

.dashboardvehiclestatus .vehiclestatus-container .bd .vehicles-data .status-label {
    width: 92px;
    padding-left: 14px;
    padding-top: 2px;
}

.dashboardvehiclestatus .vehiclestatus-container .bd .vehicles-data .status-count {
    padding-top: 2px;
}

.dashboardvehiclestatus .vehiclestatus-container .bd .vehicles-data .status-label a {
    color: #4F5054;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
    display: block;
}

.dashboardvehiclestatus .vehiclestatus-container .ft {
    padding: 5px 5px 0px 131px;
}

.dashboardvehiclestatus .vehiclestatus-container .ft a {
    color: black;
    font-size: 0.9em;
    width: 55px;
    height: 14px;
    background-image: url("@STATIC_DIR@/img/icons/arrows.png");
    background-position: right -161px;
    background-repeat: no-repeat;
    display: block;
}