/**
 * FleetMap UI Widget CSS
 */
.fleetmap .map-container {
	background-color: #E5E3DF;
	width: 100%;
	height: 100%;
	zoom: 1;
}

.fleetmap .map-container div {
	zoom: 1;
}

.fleetmap .template-info-window {
	display: none;
}

.fleetmap .map-marker-icon {
	cursor: pointer;
}

.fleetmap .marker-info-window {
	height: 317px;
	width: 290px;
	position: absolute;
	z-index: 2;
}

.fleetmap .marker-info-window .yui-nav {
	position: relative;
	zoom: 1;
}

.fleetmap .marker-info-window div {
	width: auto;
	height: auto;
}

.fleetmap .marker-info-window .yui-content {
	background-color: #20323F;
	*background-color: #182834;
}

.fleetmap .marker-info-window .top-bd {
	width: 100%;
	height: 17px;
}

.fleetmap .marker-info-window .top-bd .close-button {
	float: right;
	height: 17px;
	width: 17px;
	background-image: url("/static/img/icons/action-icons.png");
	background-position: 0px -82px;
	cursor: pointer;
}

.fleetmap .marker-info-window .bd .rounded-rect .top.cap {
	margin-left: 0px;
}

.fleetmap .marker-info-window .bd .rounded-rect .nested {
	height: 151px;
}

.fleetmap .marker-info-window .rounded-rect .cap,.fleetmap .marker-info-window .rounded-rect .nested
	{
	border-color: #20323F;
	background-color: #20323F;
	*border-color: #182834; *
	background-color: #182834;
}

.fleetmap .marker-info-window .yui-nav .yui-tab {
	z-index: 1;
	position: relative;
	margin-left: -10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*   
	 background-image: url(/static/img/buttons/set-buttons.png);
    */
	background-image: linear-gradient(to bottom, #485763 0%, #485763 100%);
	/* background-position: 0 -1288px; */
	background-repeat: no-repeat;
	height: 100%;
}

.fleetmap .marker-info-window .yui-nav .yui-tab.selected {
	z-index: 2;
	position: relative;
	background-image: linear-gradient(to bottom, #20323f 0%, #20323f 100%);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	/* 	
	background-position: 0 -1378px;
    */
}

.fleetmap .marker-info-window .yui-nav .yui-tab div {
	/*  background-image: url(/static/img/buttons/set-buttons.png);
       background-position: 100% -1334px; */
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-image: linear-gradient(to bottom, #485763 0%, #485763 100%);
	background-repeat: no-repeat;
	height: auto;
}

.fleetmap .marker-info-window .yui-nav .yui-tab a {
	display: block;
	position: relative;
	/*     background-image: url(/static/img/buttons/set-buttons.png); */
	background-image: linear-gradient(to bottom, #485763 0%, #485763 100%);
	/* 	background-position: 100% -1477px; */
	background-repeat: repeat-x;
	zoom: 1;
	margin-left: 6px;
	margin-right: 6px;
	color: #FFFFFF;
	font-size: 1.4em;
}

.fleetmap .marker-info-window .yui-nav .yui-tab.selected div {
	background-image: linear-gradient(to bottom, #20323f 0%, #20323f 100%);
	border-top-right-radius: 10px;
	/* 	background-position: 100% -1414px; */
}

.fleetmap .marker-info-window .yui-nav .yui-tab.selected a {
	/* background-position: 100% -1446px; */
	border-top-right-radius: 10px;
	background-image: linear-gradient(to bottom, #20323f 0%, #20323f 100%);
}

.fleetmap .marker-info-window .yui-nav .yui-tab a .tab-title {
	padding: 5px 15px 4px 15px;
}

.fleetmap .marker-info-window .yui-nav .yui-tab.tab-first {
	margin-left: 0px;
}

.fleetmap .marker-info-window .ft {
	width: 100%;
	height: 115px;
	background-image: url(/static/img/maps/info-tooltip-tip.png);
	background-repeat: no-repeat;
}