/**
 * The Stylesheet for the trip setting sidebar
 */
 

.geofencingsidebar {
    width: 255px;
    background-color: #E6EDF3;
    overflow: hidden;
}

.geofencingsidebar .geofencing-sidebar {
    padding-left: 15px;
    padding-top: 25px;
}

.geofencingsidebar .hd-list .hd-item {
    cursor: pointer;
    width: 30px;
}

.geofencingsidebar .title {
    color: #A81A23;
    font-size: 1.2em;
    font-weight: bold;
}

.geofencingsidebar .search-item {
    padding-bottom: 17px;
}

.geofencingsidebar .search-item .search-title {
    padding-bottom: 5px;
}

.geofencingsidebar .search-item .search-go-button {
    cursor: pointer;
    width: 32px;
    height: 19px;
    margin-top: 2px;
    margin-left: 184px;
    background-image: url("/static/img/buttons/search-go-button.png");
}

.geofencingsidebar .search-item .search-item-input {
    width: 175px;
    height: 18px;
    border: 1px solid #FFFFFF;
    color: #011A5D;
    font-size: 0.9em;
    background-color: #B7CBDC;
    padding-left: 2px;
    padding-top: 3px;
}

.geofencingsidebar .hd-list .list-pin {
    width: 27px;
    height: 24px;
    background-image: url("/static/img/icons/group-icons.png");
    background-repeat: no-repeat;
    background-position: -60px -26px;
}

.geofencingsidebar .hd-list .list-title {
    width: 181px;
}

.geofencingsidebar .hd-list .pins {
    padding-bottom: 10px;
}

.geofencingsidebar .pinning-disabled .hd-list .list-pin {
    background-position: -60px 0px;
}

.geofencingsidebar .geofencing-sidebar.inactive .data {
    display: none;
}

.geofencingsidebar .list-container {
    position: relative;
    zoom: 1;
}

.geofencingsidebar .data {
    overflow-y: scroll;
}

.geofencingsidebar .data .data-container {
    width: 213px;
    height: 518px;
}

.geofencingsidebar .data .list-item-type.disabled {
    display: none;
}

.geofencingsidebar .data .item.closed {
    display: none;
}

.geofencingsidebar .data .item .pin {
    padding-right: 4px;
    width: 17px;
    height: 21px;
    cursor: pointer;
    font-weight: normal;
    background-image: url("/static/img/icons/pin-icons.png");
    background-repeat: no-repeat;
    background-position: -22px 0px;
    margin-left: 5px;
}

.geofencingsidebar .data .item.pin-enabled .pin {
    background-position: 0px 0px;
}

.geofencingsidebar .data .item-header {
    height: 19px;
    font-size: 1em;
    font-weight: normal;
    border-bottom: 2px solid #CEDBE6;
    padding-left: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    color: #000000;
}

.geofencingsidebar .data .item.selected {
    border-bottom: none;
    background-color: #D6DFE7;
}

.geofencingsidebar .data .item-status {
    background-image: url("/static/img/icons/vehicle-status.png");
    background-repeat: no-repeat;
    background-position: 0px 2px;
    height: 19px;
    width: 17px;
}

.geofencingsidebar .data .item-name {
    color: #000000;
    width: 150px;
}

.geofencingsidebar .data .item-status.started {
    background-position: 0px 3px;
}

.geofencingsidebar .data .item-status.stopped {
    background-position: 0px -45px;
}

.geofencingsidebar .data .item-status.paused {
    background-position: 0px -20px;
}

.geofencingsidebar .search-autocomplete {
    position: absolute;
    margin-top: 26px;
    width: 171px;
    font-size: 1em;
}

