/**
 * User Info UI Widget CSS
 */
.userinfo-widget {
	padding-bottom: 30px;
}

.userinfo {
	width: 716px;
	height: 249px;
	background-color: #F7F7F7;
	/** background-image: url("/static/img/backgrounds/dashboard-sd-vh-bg.jpg");*/
	background-image: linear-gradient(to bottom, #f2f2f2 0%, #f7f7f7 100%);
	;
}

.userinfo .userinfo-container {
	padding: 10px 10px 10px 10px;
	height: 245px;
}

.userinfo .userinfo-container .hd {
	padding: 0px 0px 0px 0px;
	position: relative;
}

.userinfo .userinfo-container .hd .widget-header-label {
	background-image: url(/static/img/icons/group-icons.png);
	background-position: -31px -26px;
	background-repeat: no-repeat;
	height: 24px;
	margin-left: 2px;
	width: 27px;
}

.userinfo .userinfo-container .hd .widget-header-content {
	padding-left: 7px;
	padding-top: 2px;
}

.userinfo .userinfo-container .hd .rounded-rect .nested {
	padding: 7px 2px 2px 2px;
	font-weight: bold;
	font-size: 1.2em;
	height: 23px;
	background-color: #8ABCE1;
	border-color: #8ABCE1;
}

.userinfo .userinfo-container .hd .rounded-rect .cap {
	background-color: #8ABCE1;
	border-color: #8ABCE1;
}

.userinfo .userinfo-container .hd .rounded-rect .nested .adduser-link {
	margin-left: 540px;
	margin-top: -29px;
	display: block;
	width: 139px;
}

.userinfo .userinfo-container .hd .rounded-rect .nested .adduser-link .rounded-rect .nested
	{
	background-color: #F4F4F4;
	border-color: #F4F4F4;
	color: #626262;
	font-size: 0.9em;
	font-weight: bold;
	height: 16px;
	padding-left: 60px;
	padding-right: 9px;
	padding-top: 1px;
}

.userinfo .userinfo-container .hd .rounded-rect .nested .adduser-link .rounded-rect .cap
	{
	background-color: #F4F4F4;
	border-color: #F4F4F4;
}

.userinfo .userinfo-container table {
	width: 100%;
	color: #4F5054;
}

.userinfo .userinfo-container .table thead {
	font-weight: bold;
}

.userinfo .userinfo-container table tr,.userinfo .userinfo-container table th
	{
	text-align: center;
	height: 26px;
	border-bottom: 1px solid #E3E3E3;
}

.userinfo .userinfo-container table td.picture div {
	height: 20px;
	width: 20px;
	background-image: url(/static/img/icons/action-icons.png);
	background-repeat: no-repeat;
}

.userinfo .userinfo-container table td.picture .addUser {
	background-position: 0 -230px;
}

.userinfo .userinfo-container table td.picture .editUser {
	background-position: 0px -287px;
}

.userinfo .userinfo-container table td.picture .deleteUser {
	background-position: 0 -343px;
}

.userinfo .userinfo-container table th {
	height: 30px;
}

.userinfo .userinfo-container table .table-item-row {
	border-bottom-color: #E3E3E3;
}

.userinfo .userinfo-container table .table-item-row.even {
	background-color: #E9ECEE;
}

.userinfo .userinfo-container .ft {
	height: 18px;
	width: 93px;
	padding-left: 613px;
	margin-top: 26px;
	font-size: 0.9em;
}

.userinfo .userinfo-container .ft .label {
	padding-top: 6px;
}

.userinfo .userinfo-container .ft .label a {
	background-image: url(/static/img/icons/arrows.png);
	background-position: 100% -161px;
	background-repeat: no-repeat;
	color: #000000;
	display: block;
	height: 12px;
	padding-left: 19px;
	width: 55px;
}

.userinfo .userinfo-container .ft .rounded-rect .nested {
	padding: 7px 2px 2px 2px;
	height: 20px;
	background-color: #F4F4F4;
	border-color: #F4F4F4;
}

.userinfo .userinfo-container .ft .rounded-rect .cap {
	background-color: #F4F4F4;
	border-color: #F4F4F4;
}