/**
 * Add Vehicle UI Widget CSS
 */
.editvehicle {
	padding: 20px;
}

.editvehicle .note {
	height: 30px;
	border: 1px solid #95D0E9;
	color: #5A6065;
	margin-top: 3px;
	line-height: 28px;
	padding-left: 10px;
	background-color: #FFFFFF;
}

.editvehicle .state-item {
	background-image: url("@STATIC_DIR@/img/login/dot.png");
	background-repeat: no-repeat;
	color: #172834;
	font-weight: bold;
	height: 20px;
	padding-left: 8px;
	padding-right: 4px;
	padding-top: 4px;
}

.editvehicle .state-item.disabled {
	background-image: url("@STATIC_DIR@/img/login/dot-disabled.png");
	color: #8497A4;
}

.editvehicle .state-item-index {
	color: #FFFFFF;
	padding-right: 8px;
}

.editvehicle .search-item {
	padding-bottom: 17px;
}

.editvehicle .search-item .search-title {
	padding-bottom: 5px;
}

.editvehicle .search-item .search-go-button {
	cursor: pointer;
	width: 32px;
	height: 19px;
	margin-top: 2px;
	margin-left: 184px;
	background-image: url("@STATIC_DIR@/img/buttons/search-go-button.png");
}

.editvehicle .search-item .search-item-input {
	width: 175px;
	height: 18px;
	border: 1px solid #FFFFFF;
	color: #011A5D;
	font-size: 0.9em;
	background-color: #B7CBDC;
	padding-left: 2px;
	padding-top: 3px;
}

.editvehicle .search-autocomplete {
	position: absolute;
	margin-top: 26px;
	width: 172px;
	font-size: 1em;
}

.editvehicle .note .title {
	color: #BB0813;
	font-weight: bold;
}

.editvehicle .disabled {
	display: none;
}

.editvehicle .note.mesg {
	background-color: #BFF19A;
	border: 1px solid #FFFFFF;
}

.editvehicle .frm-edit-bd {
	padding-top: 25px;
}

.editvehicle .frm-edit-bd .frm-lbl {
	width: 120px;
	font-weight: bold;
	line-height: 21px;
}

.editvehicle .frm-edit-bd .input-element {
	width: 240px;
	height: 19px;
}

.editvehicle .frm-edit-bd .input-element.txt {
	padding-top: 2px;
}

.editvehicle .frm-edit-bd .input-element.list {
	padding-top: 2px;
	height: 26px;
	color: #39444C;
}

.editvehicle .frm-edit-bd .frm-inp {
	padding-right: 5px;
}

.editvehicle .frm-edit-bd .frm-imp {
	color: #39444C;
	font-size: 0.9em;
	line-height: 21px;
}

.editvehicle .frm-edit-bd .frm-item-cnt {
	padding-bottom: 10px;
}

.editvehicle .buttons {
	padding-left: 160px;
}

.editvehicle .state-view {
	padding-bottom: 10px;
}

.editvehicle .sel-hd,.editvehicle .frm-hd {
	color: #172834;
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 5px;
}

.editvehicle .veh-sel-disp {
	padding-left: 20px;
}

.editvehicle .veh-sel {
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 2px solid #C4D4ED;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 2px;
}

.editvehicle .veh-sel .veh-sel-item {
	display: block;
	width: 180px;
	color: #011A5D;
	line-height: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
	cursor: pointer;
	min-height: 20px; *
	height: auto !important; *
	height: 25px;
}

.editvehicle .veh-sel .veh-sel-item:hover {
	background-color: #ECF4FA;
	font-weight: bold;
}

.editvehicle .veh-sel .veh-sel-item.selected {
	background-color: #ECF4FA;
}

.editvehicle .veh-sel .veh-sel-item.disabled {
	display: none;
}

.editvehicle .buttons.save-button {
	padding-left: 120px;
}

.editvehicle .buttons.cancel-button {
	padding-left: 30px;
}

.editvehicle .buttons.edit-button {
	padding-right: 0px;
	padding-left: 0px;
}

.editvehicle  .frm-edit-bd .frm-item-cnt .image1 {
	padding-top: 5px;
	height: 36px;
	color: #39444c;
	width: 42px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/jeep/jeep.png");
}

.editvehicle  .frm-edit-bd .frm-item-cnt .image2 {
	padding-top: 5px;
	height: 30px;
	color: #39444c;
	width: 39px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/bike/bike.png");
}

.editvehicle  .frm-edit-bd .frm-item-cnt .image3 {
	padding-top: 5px;
	height: 35px;
	color: #39444c;
	width: 20px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/blurb/blurb.png");
}

.editvehicle  .frm-edit-bd .frm-item-cnt .image4 {
	padding-top: 5px;
	height: 20px;
	color: #39444c;
	width: 30px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/car/car.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image5 {
	padding-top: 5px;
	height: 40px;
	color: #39444c;
	width: 50px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/fueltanker/fueltanker.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image6 {
	padding-top: 5px;
	height: 36px;
	color: #39444c;
	width: 40px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/tractor/tractor.png");
}

.editvehicle  .frm-edit-bd .frm-item-cnt .image7 {
	padding-top: 5px;
	height: 30px;
	color: #39444c;
	width: 40px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/truck/truck.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image8 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/busgreen/green.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image9 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/busblue/blue.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image10 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/busbrown/brown.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image11 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/busdarkyellow/darkyellow.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image12 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/buspink/pink.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image13 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/buspurple/purple.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image14 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/busskyblue/skyblue.png");
}
.editvehicle .frm-edit-bd .frm-item-cnt .image15 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/busviolet/violet.png");
}

.editvehicle .frm-edit-bd .frm-item-cnt .image16 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/busyellow/yellow.png");
}
.addvehicle .frm-item-cnt .image17 {
	padding-top:5px;
    height:45px;
    color:#39444c;
    background-repeat:no-repeat;
    width:65px;
    margin-left: 11px;
    padding-top: 22px;
	background-image: url("@STATIC_DIR@/img/vehicles/tncsc/21.png");
}
.editvehicle .frm-edit-bd .frm-item-cnt .image26 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/shsm/dispensary/26.png");
}
.editvehicle .frm-edit-bd .frm-item-cnt .image27 {
	padding-top: 2px;
	height: 66px;
	color: #39444c;
	width: 60px;
	background-repeat: no-repeat;
	background-image: url("@STATIC_DIR@/img/vehicles/shsm/support/27.png");
}


.editvehicle .form-add-veh .frm-tem-cnt .table_icon {
	width: 10%;
	height: 20%;
	border: 1px;
	border: 1px solid black;
	cellpadding: 0px;
	cellspacing: 1px;
}

.editvehicle .form-add-veh .frm-tem-cnt .table_icon .tr_icon {
	border-color: black;
	border-style: solid;
}

.editvehicle .form-add-veh . frm-item-cnt .table_icon .td_icon {
	border: 1px solid black;
	vertical-align: bottom;
	height: 10px;
}

.editvehicle .edit-vehicle-empty-popup {
	display: block;
}

.editvehicle .edit-vehicle-displayname-popup {
	display: block;
}

.editvehicle .edit-vehicle-model-popup {
	display: block;
}

.editvehicle .edit-vehicle-make-popup {
	display: block;
}

.editvehicle .edit-vehicle-year-popup {
	display: block;
}

.editvehicle .edit-vehicle-empty-popup.disabled {
	display: none;
}

.editvehicle .edit-vehicle-displayname-popup.disabled {
	display: none;
}

.editvehicle .edit-vehicle-model-popup.disabled {
	display: none;
}

.editvehicle .edit-vehicle-make-popup.disabled {
	display: none;
}

.editvehicle .edit-vehicle-year-popup.disabled {
	display: none;
}