/**
 * Report Pages/Widget UI CSS
 */
.report {
    background-color: #FFFFFF;
    padding: 1px;
    position: relative;
    *zoom: 1;
}

.report .print-section {
    display: none;
}

.report.print-disabled .hd .print-preview {
    display: none;
}

.report .hd .print-preview {
    background-image: url(/static/img/icons/widget-header-icons.png);
    background-position: 0 -481px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: normal;
    height: 16px;
    margin-left: 30px;
    margin-right: 40px;
    padding-left: 23px;
    padding-top: 1px;
    text-decoration: underline;
    left: 180px;
}

.report table {
    width: 100%;
    position: relative;
}

.report .hd, .report .ft {
    font-size: 0.9em;
}

.report .select-text {
    float: left;
    display: block;
}

.report .select-text .select-option {
    border-right: 1px dotted;
    padding-right: 2px;
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
}

.report .select-text .select-option.last {
    border-right: 0px none;
    padding-right: 0px;
}

.report.select-enabled .select-text {
    display: block;
}

.report.select-enabled.delete-disabled .select-text .select-delete {
    display: none;
}

.report.select-enabled.page-disabled .select-text .select-page {
    display: none;
}

.report.bottom-header-disabled .ft .bottom-header {
    display: none;
}

.report.update-button-disabled .ft .update-button {
    display: none;
}

.report .paginator {
    font-weight: normal;
    float: right;
}

.report .hd .paginator {
    margin-top: -14px;
}

.report .paginator .yui-pg-pagecount {
    vertical-align: top;
    padding-left: 5px;
}

.report .paginator .yui-pg-previous {
    background-image: url(/static/img/icons/arrows.png);
    background-position: 0 -59px;
    height: 15px;
    width: 15px;
}

.report .paginator .yui-pg-next {
    background-image: url(/static/img/icons/arrows.png);
    background-position: 0 -111px;
    height: 15px;
    width: 15px;
}

.report .paginator .yui-pg-first {
    background-image: url(/static/img/icons/arrows.png);
    background-position: 0 -5px;
    height: 15px;
    width: 20px;
}

.report .paginator .yui-pg-last {
    background-image: url(/static/img/icons/arrows.png);
    background-position: 0 -159px;
    height: 15px;
    width: 20px;
}

.report .paginator .yui-pg-pages .yui-pg-page {
    border-left: 1px solid #D6EBF7;
    color: #000000;
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
    width: 23px;
    height: 15px;
    direction: ltr;
    -moz-box-orient: vertical;
    -moz-box-align: center;
    *display: inline;
    *zoom: 1;
}

.report .paginator .yui-pg-pages .yui-pg-page.yui-pg-current-page {
    background-color: #D6EBF7;
    width: 15px;
    height: 15px;
    color: #6EA0BD;
}

.report table th {
    border-left: 1px solid #A5BFD2;
    text-transform: uppercase;
    background-image: url("/static/img/reports/th-normal.jpg");
    height: 39px;
}

.report table th.yui-dt-sortable {
    cursor: pointer;
}

.report table th.yui-dt-first {
    border-left: 0px none;
}
.report table tr.disabled {
    display:none;
}
.report table th.yui-dt-asc, .report table th.yui-dt-desc {
    background-image: url("/static/img/reports/th-selected.jpg");
}

.report table th .yui-dt-liner {
    background-repeat: no-repeat;
}

.report table th.yui-dt-asc .yui-dt-liner {
    background-image: url("/static/img/reports/arrows.png");
    background-position: 100% -29px;
}

.report table th.yui-dt-desc .yui-dt-liner {
    background-image: url("/static/img/reports/arrows.png");
    background-position: 100% 0px;
}

.report table tr.yui-dt-first td {
    background-image: url("/static/img/reports/td-first-bg.png");
    background-repeat: repeat-x;
}

.report table td.yui-dt-asc, .report table td.yui-dt-desc {
    background-color: #F5F9FC;
}

.report table th a {
    font-size: 1em;
    color: #1D5F8E;
}

.report .yui-dt-data td {
    border-top: 1px dotted #A5BFD2;
    border-left: 1px dotted #A5BFD2;
    height: 33px;
    text-align: center;
}

.report .yui-dt-data td.yui-dt-first {
    border-left: 0px none;
}

.report .hd .rounded-rect .nested, .report .ft .rounded-rect .nested {
    padding: 9px 7px 7px 7px;
    font-weight: bold;
    height: 24px;
    background-color: #BBDDF2;
    border-color: #BBDDF2;
}

.report .hd .rounded-rect .cap, .report .ft .rounded-rect .cap {
    background-color: #BBDDF2;
    border-color: #BBDDF2;
}

.report .ft .update-button {
    padding-top: 25px;
}

/**
 * Print Preview Styles
 */
.print.popup .report .yui-dt-col-select {
    display: none;
}

.print-body {
    background-color: #FFFFFF;
}
