/**
 * Manage Logs Ui Widget CSS
 */
.logmanager .lm-cnt {
    background-color: #FFFFFF;
    padding: 10px;
}

.logmanager .hd .rounded-rect .nested, .logmanager .ft .rounded-rect .nested {
    background-color: #8ABCDE;
    border-color: #8ABCDE;
    height: 29px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    zoom: 1;
}

.logmanager .ft .rounded-rect .nested {
    height: 0px;
    _height: 10px;
}

.logmanager .bd {
    background-color: #8ABCDE;
    padding: 5px;
}

.logmanager .bd .frm-bd {
    background-color: #D0E4F2;
    padding: 10px;
}

.logmanager .bd .title {
    color: #172834;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logmanager .hd .rounded-rect .cap, .logmanager .ft .rounded-rect .cap {
    background-color: #8ABCDE;
    border-color: #8ABCDE;
}

.logmanager .bd .time-sel {
    height: 201px;
    _height: 211px;
    border: 2px solid #C4D4ED;
    padding: 5px;
    width: 385px;
    *width: 395px;
    background-color: #FFFFFF;
}

.logmanager .bd .cal {
    margin-top: 12px;
}

.logmanager .bd .time-sel .in-title {
    border-bottom: 1px dotted #C4D4ED;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.logmanager .bd .time-sel .dt-cnt {
    padding-top: 18px;
    color: #172834;
}

.logmanager .bd .time-sel .dt-cnt .cal-icon {
    background-image: url(/static/img/icons/report-icons.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.logmanager .bd .time-sel .dt-cnt .lbl {
    padding-right: 4px;
    padding-left: 5px;
}

.logmanager .list {
    height: 207px;
    width: 219px;
    *width: 229px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #C4D4ED;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}

.logmanager .list .list-item {
    color: #011A5D;
    line-height: 15px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    border-bottom: 1px dotted #C4D4ED;
    height: auto;
    min-height: 15px;
    *height: auto !important;
    *height: 25px;
    width: 180px;
    *width: 190px;
}

.logmanager .list .list-item .ip-name {
    padding-left: 5px;
}

.logmanager .list .list-item .input-element.chk {
    margin-right: 10px;
    vertical-align: middle;
}

.logmanager .list .list-item.selectedUser {
    background-color: #ECF4FA;
    font-weight: bold;
    background-image: url(/static/img/icons/action-icons.png);
    background-position: 160px -177px;
    background-repeat: no-repeat;
}

.logmanager .list .list-item:hover {
    background-color: #ECF4FA;
    font-weight: bold;
}

.logmanager .bd .blk {
    padding-right: 25px;
}

.logmanager .list.log-list, .logmanager .list.log-list .tlist {
    width: 900px;
    *width: 880px;
}

.logmanager .list-overlay {
    z-index: 1000;
    position: absolute;
    filter: alpha( opacity = 60);
    opacity: 0.6;
    background-color: #D0E4F2;
}

.logmanager .list-overlay.log-list-overlay {
    width: 904px;
    *width: 884px;
    height: 222px;
}

.logmanager .list-overlay.ip-list-overlay {
    height: 214px;
    width: 222px;
    *width: 229px;
}

.logmanager .bd .list-overlay.time-sel-overlay {
    height: 214px;
    width: 398px;
    *width: 408px;
}

.logmanager .list-overlay.disabled {
    display: none;
}

.logmanager .list.log-list .list-item {
    width: auto;
    color: #172834;
    padding: 0px;
    min-height: 25px;
}

.logmanager .list .list-item.hd-item .list-item-c {
    font-weight: bold;
}

.logmanager .list .list-item.hd-item, .logmanager .list .list-item.hd-item:hover, .logmanager .list .list-item .list-item-c:hover {
    background-color: #ECF4FA;
    cursor: default;
}

.logmanager .list .list-item .list-item-c {
    border-right: 1px dotted #C4D4ED;
    *border-bottom: 1px dotted #9BA2BE;
    width: 20%;
    padding-left: 3%;
    line-height: 25px;
    height: auto;
    min-height: 25px;
    *height: auto !important;
    *height: 25px;
}

.logmanager .buttons.show-but, .logmanager .buttons.dload-but {
    padding-left: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}

