/*
 * AlertSettingsList Widget CSS
 *
 */
.mobilealertsettingslist {
    background-color: #e6edf3;
    overflow: hidden;
    height: 509px;
    width: 255px;
}

.mobilealertsettingslist .mobilealertsettingslist-container {
    padding-left: 15px;
    padding-top: 25px;
    color: #02195d;
}

.mobilealertsettingslist .mobilealertsettingslist-container .title {
    color: #a81a23;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0px;
}

.mobilealertsettingslist .mobilealertsettingslist-container .subtitle {
    color: #02195c;
    font-weight: bold;
    font-size: 1.0em;
    padding: 5px 0px;
}

.mobilealertsettingslist .mobilealertsettingslist-container .options {
    padding: 5px 0px;
}

.mobilealertsettingslist .mobilealertsettingslist-container .options .options-desc {
    vertical-align: top;
}

.mobilealertsettingslist .mobilealertsettingslist-container .user-info {
    font-weight: bold;
    color: #02195c;
    padding: 10px 0px;
}

.mobilealertsettingslist .mobilealertsettingslist-container .txtbox {
    border: 1px none;
    background-color: #cedce7;
    color: #011a5d;
    font-size: 0.9em;
    width: 214px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-top: 4px;
}

.mobilealertsettingslist .mobilealertsettingslist-container .chkbox {
    margin-bottom: 10px;
}

.mobilealertsettingslist .mobilealertsettingslist-container .buttons {
    padding-top: 4px;
}