/**
 * AddHardware UI Widget CSS
 */
.adduser {
    padding: 20px;
}

.addhardware .note {
    height: 30px;
    border: 1px solid #95D0E9;
    color: #5A6065;
    margin-top: 3px;
    line-height: 28px;
    padding-left: 10px;
    background-color: #FFFFFF;
}

.addhardware .note .title {
    color: #BB0813;
    font-weight: bold;
}

.addhardware .note.disabled {
    display: none;
}

.addhardware .form-add-hardware {
    padding-top: 25px;
}

.addhardware .form-add-hardware .frm-lbl {
    width: 160px;
    font-weight: bold;
    line-height: 21px;
    padding-left: 30px;
}

.addhardware .form-add-hardware .input-element {
    width: 240px;
    height: 19px;
}
.addhardware .form-add-hardware .input-element.list {
    padding-top: 2px;
    height: 26px;
    color: #39444C;
    
}
.addhardware .form-add-hardware .input-element.txt {
    padding-top: 2px;
}

.addhardware .form-add-hardware .frm-inp {
    padding-right: 5px;
}

.addhardware .form-add-hardware .frm-imp {
    color: #39444C;
    font-size: 0.9em;
    line-height: 21px;
}

.addhardware .form-add-hardware .frm-item-cnt {
    padding-bottom: 10px;
}

.addhardware .buttons {
    padding-left: 160px;
}

.addhardware .add-hardware-empty-popup {
    display: block;
}

.addhardware .add-hardware-imei-popup {
    display: block;
}

.addhardware .add-hardware-module-popup {
    display: block;
}

.addhardware .add-hardware-firm-popup {
    display: block;
}
.addhardware .add-hardware-mobilenumber-popup {
    display: block;
}
.addhardware .add-hardware-simid-popup {
    display: block;
}

.addhardware .add-hardware-empty-popup.disabled{
    display: none;
}

.addhardware .add-hardware-imei-popup.disabled{
    display: none;
}

.addhardware .add-hardware-module-popup.disabled{
    display: none;
}

.addhardware .add-hardware-firm-popup.disabled{
    display: none;
}
.addhardware .add-hardware-mobilenumber-popup.disabled{
    display: none;
}
.addhardware .add-hardware-simid-popup.disabled{
    display: none;
}