/**
 * Stylesheet for the warning PopUp utility Widget
 */
.warningpopup .message {
    height: 55%;
}

.warningpopup .warning-buttons {
    text-align: center;
    width: 99%;
}

.warningpopup .warning-buttons .buttons .fleet-buttons.yes-button.button-blue a .ct {
    width: 45px;
}

.warningpopup .warning-buttons .buttons .fleet-buttons.no-button.button-blue a .ct {
    width: 44px;
}