/**
 * Login Banner Widget CSS
 */
.loginbanner .login-banner-container .data-item {   padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-left: 20px;
    width: 500px;
    _width: 515px;
    display: block;
 
}

.loginbanner .login-banner-container .index {
	background: gray;
	height: 21px;
	width: 16px;
	_height: 24px;
	_width: 24px;
	padding-left: 8px;
	padding-top: 3px;
	font-size: 1.2em;
	font-weight: bold;
	color: #ffffff;
	border-radius: 50%;
}


.loginbanner .login-banner-container .title {
    font-size: 1.4em;
    padding-left: 14px;
}

.loginbanner .login-banner-container .description {
    padding-left: 37px;
    font-size: 1.0em;
}