/**
 * Grouped Report UI Widget CSS
 */
 
.groupreportviolation.group-select {
    float: left;
    padding-left: 25px;
    margin-top: -5px;
}
.groupreportviolation .title-button{
	float: left;
    padding-left: 25px;
    margin-top: -5px;
	}
.groupreportviolation .select-violation
	{
	position:absolute;
	left:150px;
	border: 1px;
    background-color: #B7CBDC;
    margin-top: -5px;
    border: 1px solid #FFFFFF;
    }
	

.groupreportviolation .violationpageButtons {
	margin-top: 0px;
	margin-right:20px;
	float:right;
}

.groupreportviolation .paginator {
	margin-top:0px;
	top:15px;
	margin-right:10px;
	text-align: center;
}

.groupreportviolation .select-overspeedalertvalue
	{
	position:absolute;
	left:350px;
	border: 1px;
    background-color: #B7CBDC;
    margin-top: -5px;
    border: 1px solid #FFFFFF;
    }	
	
.groupreportviolation .select-overspeedalertvalue.disabled
	{
	  display: none;
    }	
	
.groupreportviolation .select-idlealertvalue
	{
	position:absolute;
	left:350px;
	border: 1px;
    background-color: #B7CBDC;
    margin-top: -5px;
    border: 1px solid #FFFFFF;
    }	
	
.groupreportviolation .select-idlealertvalue.disabled
	{
	  display: none;
    }	
	
	 
.groupreportviolation .select-status
	{
	position:absolute;
	left:242px;
	border: 1px;
    background-color: #B7CBDC;
    margin-top: -5px;
    border: 1px solid #FFFFFF;
    }
.groupreportviolation .title-select select{
	
	background-color: #B7CBDC;
    border: 1px solid #FFFFFF;
    color: #234A68;
    font-size: 1em;
    height: 24px;
    padding-left: 2px;
    padding-top: 1px;
    width: 150px;
	}
.groupreportviolation .title-button select{
	background-color: #B7CBDC;
    border: 1px solid #FFFFFF;
    color: #234A68;
    font-size: 1em;
    height: 24px;
    padding-left: 2px;
    padding-top: 1px;
    width: 150px;
	
	}
.groupreportviolation .group-select select {
	position: absolute;
	
    background-color: #B7CBDC;
    border: 1px solid #FFFFFF;
    color: #234A68;
    font-size: 1em;
    height: 20px;
    padding-left: 2px;
    padding-top: 1px;
    width: 85px;
    margin-top: -5px;
    left:475px;
}
.groupreportviolation .inline-block .print-preview {
background-image:url("/static/img/icons/widget-header-icons.png");
background-position:0 -481px;
background-repeat:no-repeat;
cursor:pointer;
font-weight:normal;
height:20px;
left:430px;
margin-left:30px;
padding-left:23px;
padding-top:1px;
text-decoration:underline;
position: absolute;
}
.groupreportviolation .comments.disabled{
	display: none;
}
