/**
 * Add user UI Widget CSS
 */
.adduser {
    padding: 20px;
}

.adduser .note {
    height: 30px;
    border: 1px solid #95D0E9;
    color: #5A6065;
    margin-top: 3px;
    line-height: 28px;
    padding-left: 10px;
    background-color: #FFFFFF;
}

.adduser .note .title {
    color: #BB0813;
    font-weight: bold;
}

.adduser .note.disabled {
    display: none;
}

.adduser .form-add-user {
    padding-top: 25px;
}

.adduser .form-add-user .frm-lbl {
    width: 120px;
    font-weight: bold;
    line-height: 21px;
}

.adduser .form-add-user .input-element {
    width: 240px;
    height: 19px;
}

.adduser .form-add-user .input-element.txt {
    padding-top: 2px;
}

.adduser .form-add-user .frm-inp {
    padding-right: 5px;
}

.adduser .form-add-user .frm-imp {
    color: #39444C;
    font-size: 0.9em;
    line-height: 21px;
}

.adduser .form-add-user .frm-item-cnt {
    padding-bottom: 10px;
}

.adduser .buttons {
    padding-left: 160px;
}

.adduser .add-user-empty-popup {
    display: block;
}

.adduser .add-user-firstname-popup {
    display: block;
}

.adduser .add-user-lastname-popup {
    display: block;
}

.adduser .add-user-loginid-popup {
    display: block;
}

.adduser .add-user-password-popup {
    display: block;
}

.adduser .add-user-empty-popup.disabled{
    display: none;
}

.adduser .add-user-firstname-popup.disabled{
    display: none;
}

.adduser .add-user-lastname-popup.disabled{
    display: none;
}

.adduser .add-user-loginid-popup.disabled{
    display: none;
}

.adduser .add-user-password-popup.disabled{
    display: none;
}
