/**
 * Assign Vehicle Ui Widget CSS
 */
.editfuelcalibration {
    padding: 20px;
    height: 500px;
}

.editfuelcalibration .state-view {
    padding-bottom: 10px;
}

.editfuelcalibration .state-item {
    background-image: url("/static/img/login/dot.png");
    background-repeat: no-repeat;
    color: #172834;
    font-weight: bold;
    height: 20px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
}

.editfuelcalibration .state-item.disabled {
    background-image: url("/static/img/login/dot-disabled.png");
    color: #8497A4;
}

.editfuelcalibration .state-item-index {
    color: #FFFFFF;
    padding-right: 8px;
}

.editfuelcalibration .list-cnt {
    padding-right: 20px;
    width: 220px;
    _width: 240px;
}

.editfuelcalibration .list {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #C4D4ED;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}

.editfuelcalibration .search-item-userlist {
    padding-bottom: 17px;
}

.editfuelcalibration  .search-item-userlist .search-item-input-userlist {
    width: 216px;
    height: 18px;
    border: 1px solid #FFFFFF;
    color: #011A5D;
    font-size: 0.9em;
    background-color: #B7CBDC;
    padding-left: 2px;
    padding-top: 3px;
}

.editfuelcalibration .search-autocomplete-userlist {
    position: absolute;
    margin-top: 4px;
    width: 215px;
    font-size: 1em;
}

.editfuelcalibration .list-cnt .search-item-assigndriver{
	padding-bottom: 17px;
}

.editfuelcalibration .list-cnt .search-item-assigndriver .search-item-input-assigndriver {
    width: 216px;
    height: 18px;
    border: 1px solid #FFFFFF;
    color: #011A5D;
    font-size: 0.9em;
    background-color: #B7CBDC;
    padding-left: 2px;
    padding-top: 3px;
}

.editfuelcalibration .list-cnt .search-autocomplete-assigndriver {
    position: absolute;
    margin-top: 4px;
    width: 215px;
    font-size: 1em;
}

.editfuelcalibration .list-cnt .search-item-vacantdriver{
	padding-bottom: 17px;
}

.editfuelcalibration .list-cnt .search-item-vacantdriver .search-go-button-vacantdriver {
    cursor: pointer;
    width: 32px;
    height: 19px;
    margin-top: 2px;
    margin-left: 184px;
    background-image: url("/static/img/buttons/search-go-button.png");
}

.editfuelcalibration .list-cnt .search-item-vacantdriver .search-item-input-vacantdriver {
    width: 216px;
    height: 18px;
    border: 1px solid #FFFFFF;
    color: #011A5D;
    font-size: 0.9em;
    background-color: #B7CBDC;
    padding-left: 2px;
    padding-top: 3px;
}

.editfuelcalibration .list-cnt .search-autocomplete-vacantdriver {
    position: absolute;
    margin-top: 4px;
    width: 215px;
    font-size: 1em;
}

.editfuelcalibration .list .list-item {
    display: block;
    width: 180px;
    color: #011A5D;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    min-height: 20px;
    *height:auto !important;
    *height:25px;
}

.editfuelcalibration .assignment-control.disabled {
    display: none;
}

.editfuelcalibration .list .list-item:hover {
    background-color: #ECF4FA;
    font-weight: bold;
}

.editfuelcalibration .list .list-item.selected {
    background-color: #ECF4FA;
}

.editfuelcalibration .list .list-item.selected, .assigndriver .list .list-item.selected.moved {
    background-color: #ECF4FA;
}

.editfuelcalibration .list .list-item.disabled{
	display:none;
}
.editfuelcalibration .list .list-item.moved {
    background-color: #FFECFA;
}

.editfuelcalibration .list-cnt .list-title {
    color: #172834;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top:20px;
}

.editfuelcalibration .ft {
    padding-top: 20px;
}

.editfuelcalibration .ft .buttons.remove-button {
    padding-left: 360px;
    _padding-left: 375px;
}

.editfuelcalibration .ft .buttons.add-button {
    padding-left: 35px;
}

.editfuelcalibration .ft .buttons.save-button {
    padding-left: 65px;
}

.editfuelcalibration .ft .buttons .rem-text {
    background-image: url("/static/img/icons/action-icons.png");
    background-repeat: no-repeat;
    background-position: 100% -400px;
    padding-right: 21px;
}

.editfuelcalibration .ft .buttons .add-text {
    background-image: url("/static/img/icons/action-icons.png");
    background-repeat: no-repeat;
    background-position: 0% -462px;
    padding-left: 21px;
}
