/**
 * Add Vehicle UI Widget CSS
 */
.edituser {
    padding: 20px;
}

.edituser .disabled {
    display: none;
}
.edituser .user-sel .user-sel-item.disabled{
	display:none;
}
.edituser .note {
    height: 30px;
    border: 1px solid #95D0E9;
    color: #5A6065;
    margin-top: 3px;
    line-height: 28px;
    padding-left: 10px;
    background-color: #FFFFFF;
}

.edituser .state-item {
    background-image: url("@STATIC_DIR@/img/login/dot.png");
    background-repeat: no-repeat;
    color: #172834;
    font-weight: bold;
    height: 20px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 4px;
}

.edituser .search-item-user .search-item-input-user {
    width: 175px;
    height: 18px;
    border: 1px solid #FFFFFF;
    color: #011A5D;
    font-size: 0.9em;
    background-color: #B7CBDC;
    padding-left: 2px;
    padding-top: 3px;
}
.edituser .search-item-user {
    padding-bottom: 17px;
}

.edituser .search-item-user .search-title {
    padding-bottom: 5px;
}
.edituser .search-item-user .search-go-button-user {
    cursor: pointer;
    width: 32px;
    height: 19px;
    margin-top: 2px;
    margin-left: 184px;
    background-image: url("/static/img/buttons/search-go-button.png");
}

.edituser .search-autocomplete-user{
    position: absolute;
    margin-top: 75px;
    width: 172px;
    font-size: 1em;
}

.edituser .state-item.disabled {
    background-image: url("@STATIC_DIR@/img/login/dot-disabled.png");
    color: #8497A4;
}

.edituser .state-item-index {
    color: #FFFFFF;
    padding-right: 8px;
}

.edituser .note .title {
    color: #BB0813;
    font-weight: bold;
}

.edituser .note.disabled {
    display: none;
}

.edituser .note.mesg {
    background-color: #BFF19A;
    border: 1px solid #FFFFFF;
}

.edituser .frm-edit-bd {
    padding-top: 25px;
}

.edituser .frm-edit-bd .frm-lbl {
    width: 120px;
    font-weight: bold;
    line-height: 21px;
}

.edituser .frm-edit-bd .input-element {
    width: 240px;
    height: 19px;
}

.edituser .frm-edit-bd .input-element.txt {
    padding-top: 2px;
}

.edituser .frm-edit-bd .frm-inp {
    padding-right: 5px;
}

.edituser .frm-edit-bd .frm-imp {
    color: #39444C;
    font-size: 0.9em;
    line-height: 21px;
}

.edituser .frm-edit-bd .frm-item-cnt {
    padding-bottom: 10px;
}

.edituser .buttons {
    padding-left: 160px;
}

.edituser .state-view {
    padding-bottom: 10px;
}

.edituser .sel-hd, .edituser .frm-hd {
    color: #172834;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 5px;
}

.edituser .user-sel-disp {
    padding-left: 20px;
}

.edituser .user-sel {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #C4D4ED;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}

.edituser .user-sel .user-sel-item {
    display: block;
    width: 180px;
    color: #011A5D;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    min-height: 20px;
	*height:auto !important;
	*height:25px;
}

.edituser .user-sel .user-sel-item:hover {
    background-color: #ECF4FA;
    font-weight: bold;
}

.edituser .user-sel .user-sel-item.selected {
    background-color: #ECF4FA;
}

.edituser .buttons.save-but {
    padding-left: 120px;
}

.edituser .buttons.cancel-but {
    padding-left: 30px;
}

.edituser .edit-user-empty-popup {
    display: block;
}

.edituser .edit-user-firstname-popup {
    display: block;
}

.edituser .edit-user-lastname-popup {
    display: block;
}

.edituser .edit-user-password-popup {
    display: block;
}

.edituser .edit-user-empty-popup.disabled{
    display: none;
}

.edituser .edit-user-firstname-popup.disabled{
    display: none;
}

.edituser .edit-user-lastname-popup.disabled{
    display: none;
}

.edituser .edit-user-password-popup.disabled{
    display: none;
}


