 /**
 * Map Widget CSS
 */
 
 .fleetzoombar .panright {
    left: 2px;
    top: 26px;
    width: 33px;
    position: absolute;
    height: 31px;
    background-image: url("/static/img/maps/zoom-pan-icons.png");
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
}

.fleetzoombar .panleft {
    left: 50px;
    top: 26px;
    width: 30px;
    height: 31px;
    position: absolute;
    background-image: url("/static/img/maps/zoom-pan-icons.png");
    background-repeat: no-repeat;
    background-position: -94px 50%;
    cursor: pointer;
}

.fleetzoombar .panup {
    left: 28px;
    top: 4px;
    width: 30px;
    height: 31px;
    position: absolute;
    background-image: url("/static/img/maps/zoom-pan-icons.png");
    background-repeat: no-repeat;
    background-position: -65px 50%;
    cursor: pointer;
}

.fleetzoombar .pandown {
    left: 28px;
    top: 50px;
    width: 30px;
    height: 31px;
    position: absolute;
    background-image: url("/static/img/maps/zoom-pan-icons.png");
    background-repeat: no-repeat;
    background-position: -34px 50%;
    cursor: pointer;
}

.fleetzoombar .zoomin {
    left: 28px;
    top: 83px;
    width: 30px;
    height: 31px;
    position: absolute;
    background-image: url("/static/img/maps/zoom-pan-icons.png");
    background-repeat: no-repeat;
    background-position: -126px 50%;
    cursor: pointer;
}

.fleetzoombar .zoomout {
    left: 28px;
    top: 314px;
    width: 30px;
    height: 31px;
    position: absolute;
    background-image: url("/static/img/maps/zoom-pan-icons.png");
    background-repeat: no-repeat;
    background-position: -155px 50%;
    cursor: pointer;
}

.fleetzoombar .zoombar {
    left: 33px;
    top: 111px;
    width: 30px;
    height: 212px;
    cursor: pointer;
    position: absolute;
    background-image: url("/static/img/maps/zoombar.png");
    background-repeat: repeat-y;
} 

.fleetzoombar .slider {
    left: 32px;
    top: 111px;
    width: 20px;
    height: 10px;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    background-image: url("/static/img/maps/slider.png");
    background-repeat: no-repeat;
}

.fleetzoombar .panToCenter {
    left: 30px;
    top: 32px;
    width: 23px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    background-position: 21px 50%;
    background-image: url(/static/img/maps/zoom-pan-icons.png);
}

.layerswitcher {
    text-align: center;
    top: 7px;
    right: 0px;
    height: 37px;
    border: 1px black solid;
}

.layerswitcher .switchlayers {
    cursor: pointer;
    background-color: SteelBlue;
    border: 1px solid;
    border-left-color: black;
    border-right-color: black;
    width: 55px;
    height: 35px;
}