/**
 * Printpreview css
 */
div.print.popup .print-header-template .fleet-logo {
    background-image: url("/static/img/header/fleet-logo2.png");
    background-repeat: no-repeat;
    height: 75px;
    width: 180px;
}

div.print.popup .print-header-template .print-option {
    margin-top: -60px;
    padding-right: 70px;
    text-align: right;
    width: 100%;
}

div.print.popup .print-header-template .print-option .printtxt {
    background-image: url("/static/img/icons/widget-header-icons.png");
    background-repeat: no-repeat;
    background-position: 0px -482px;
    padding-left: 26px;
}

div.print.popup .print-header-template .title {
    color: #1F5A85;
    font-size: 1.8em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
